$gold: #d29f1b !default;
$dark-gold: darken($gold, 20%);
$dark-gray: #222;

$gallery-img-padding: min(1vw, 0.8rem);
$gallery-img-size: min(30vw, 45vh);
$padding-size: clamp(1rem, 5vw, 5rem);
$h1-font-size: clamp(3rem, 10vw, 7rem);

@mixin flexCenter ($justify-content) {
  display: flex;
  justify-content: $justify-content;
  align-items: center;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background-color: $dark-gray;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Kaisei Decol';
  font-size: $h1-font-size;
  text-shadow: 1px 2rem $h1-font-size $dark-gold;

  &.small {
    font-size: 2rem;
    text-shadow: 1px 1rem 2rem $dark-gold;
  }
}

h2 {
  margin: 0;
  padding: 0;
  color: $gold;
}

a {
  text-decoration: none;
  color: currentColor;
}

nav {
  height: 3.5rem;
  border-bottom: 1px solid white;

  .navbar-title {
    padding: 0;
    margin: 0.5rem $padding-size;
    list-style: none;
    @include flexCenter(flex-start);
    height: 100%;
  }

  .navbar {
    padding: 0;
    margin: 0.5rem 0;
    list-style: none;
    @include flexCenter(space-evenly);
    height: 100%;

    .navlink-active {
      border-bottom: 3px solid $gold;
      transition: 0.2s;
    }
  }
}

address {
  @include flexCenter(space-around);
  max-width: 30rem;
  padding: 2rem 0;
}

.image-wrapper {
  width: $gallery-img-size;
  height: $gallery-img-size;
  overflow: hidden;
  background-color: lighten($dark-gray, 20%);
  position: relative;

  .image-button {
    padding: 0;
    border: none;
    background: none;

    img {
      min-height: $gallery-img-size;
      min-width: $gallery-img-size;
      width: 100%;
      max-height: 100%;
      object-fit: cover;
      transition: 1s ease-out;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}

/* to make a shadow behind dialog and close by click outside dialog */
.dialog-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(black, 0.6);
  @include flexCenter(center);

  dialog {
    padding: 0;
    border: none;
    background: none;
    max-height: 90vh;
    max-width: 90vw;

    img {
      max-height: 90vh;
      max-width: 90vw;
    }
  }
}

.button-link {
  background-color: $gold;
  color: black;
  font-weight: 700;
  padding: 1rem 2rem;
  margin: 2rem 0;
  border-radius: 0.5rem;
  width: min(12rem, 100%);
}

.a-link {
  color: $gold;
}

@mixin button() {
  background-color: $gold;
  color: black;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  margin: 2rem 0;
}

.button-start {
  @include button();
  @include flexCenter(space-around);
  margin: 2rem 0;
}

.button-load {
  @include button();
  min-width: $gallery-img-size;
}

/* button that is placed directly on the image */
@mixin on-button() {
  position: absolute;
  background: none;
  border: none;
  color: white;
  text-shadow: 2px 2px 10px #000;
  cursor: pointer;
}

.top-right-button {
  @include on-button();
  top: 0;
  right: 0;
}

.bottom-right-button {
  @include on-button();
  bottom: 0;
  right: 0;
}

.fill-icon svg {
  fill: $gold;
}

.bg-image {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom, transparent, $dark-gray), url("https://i1.wp.com/d24fkeqntp1r7r.cloudfront.net/wp-content/uploads/2017/05/09043355/The-Death-of-Publius-Decius-Mus-in-Battle-1618-by-Peter-Paul-Rubens.jpg?fit=1280%2C708&ssl=1");
  background-position: top center;
  background-size: cover;

  .bg-image-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba($dark-gray, 0.8);
  }
}

.content-padding {
  padding: $padding-size;
}

.center-wrapper {
  @include flexCenter(space-evenly);
}

.grid-container-gallery {
  display: grid;
  width: calc($gallery-img-size*3 + $gallery-img-padding*6);
  grid-template-columns: auto auto auto;
}

.grid-container-2 {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
}

.grid-item-padding {
  padding: $gallery-img-padding;
}
